        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'compteBudgetaire.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'compteBudgetaire.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'compteBudgetaire.libelle' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'compteBudgetaire.libelle' | translate}}" id="1" [(ngModel)]="item.libelle"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validCompteBudgetaireLibelle}"  />
                                                    <small class='p-error' *ngIf='!validCompteBudgetaireLibelle'>Libelle est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'compteBudgetaire.code' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'compteBudgetaire.code' | translate}}" id="2" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validCompteBudgetaireCode}"  />
                                                    <small class='p-error' *ngIf='!validCompteBudgetaireCode'>Code est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'compteBudgetaire.montantMax' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="3" placeholder="{{'compteBudgetaire.montantMax' | translate}}" [(ngModel)]="item.montantMax"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
