
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'compteBudgetaire.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'compteBudgetaire.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'compteBudgetaire.libelle' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'compteBudgetaire.libelle' | translate}}" autofocus  id="1" [ngModel]="item.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'compteBudgetaire.code' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'compteBudgetaire.code' | translate}}" autofocus  id="2" [ngModel]="item.code">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'compteBudgetaire.montantMax' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'compteBudgetaire.montantMax' | translate}}" [ngModel]="item.montantMax"></p-inputNumber>
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



