        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'employe.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'employe.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'employe.nom' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'employe.nom' | translate}}" id="1" [(ngModel)]="item.nom"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validEmployeNom}"  />
                                                    <small class='p-error' *ngIf='!validEmployeNom'>Nom est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'employe.prenom' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'employe.prenom' | translate}}" id="2" [(ngModel)]="item.prenom"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validEmployePrenom}"  />
                                                    <small class='p-error' *ngIf='!validEmployePrenom'>Prenom est obligatoire.</small>
                                                </div>



                                            <div class="field col-11 md:col-6">
                                                <label for="3">{{'employe.entiteAdmin' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="entiteAdmins" [(ngModel)]="item.entiteAdmin" id="3" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="libelle" placeholder="{{'employe.entiteAdmin' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                </div>
                            </p-tabPanel>

                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
