<div class="grid"  *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('BudgetCompteBudgetaire')" *ngIf="createActionIsValid"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()  *ngIf="deleteActionIsValid"></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-secondary mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-secondary" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="1-2">{{'budgetCompteBudgetaire.budget' | translate}}</label>
                            <p-dropdown [options]="budgets" [(ngModel)]="criteria.budget" id="1" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'budgetCompteBudgetaire.budget' | translate}}" optionLabel="id">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="2-2">{{'budgetCompteBudgetaire.compteBudgetaire' | translate}}</label>
                            <p-dropdown [options]="compteBudgetaires" [(ngModel)]="criteria.compteBudgetaire" id="2" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'budgetCompteBudgetaire.compteBudgetaire' | translate}}" optionLabel="libelle">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="3-1">{{'budgetCompteBudgetaire.montantMin' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.montantMin" id="3-1"></p-inputNumber>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="3-2">{{'budgetCompteBudgetaire.montantMax' | translate}}</label>
                            <p-inputNumber  mode="decimal" [(ngModel)]="criteria.montantMax" id="3-2"></p-inputNumber>
                       </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['budgetid', 'compteBudgetairelibelle', 'montant']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'budgetCompteBudgetaire.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                                
                        <th pSortableColumn="budget">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'budgetCompteBudgetaire.budget' | translate}}</span>
                                <p-sortIcon field="budget"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="compteBudgetaire">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'budgetCompteBudgetaire.compteBudgetaire' | translate}}</span>
                                <p-sortIcon field="compteBudgetaire"></p-sortIcon>
                            </div>
                        </th>
                                
                                
                        <th pSortableColumn="montant">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'budgetCompteBudgetaire.montant' | translate}}</span>
                                <p-sortIcon field="montant"></p-sortIcon>
                            </div>
                        </th>
                                
                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>
                            
                        <td>{{element.budget?.id}}</td>
                            
                            
                        <td>{{element.compteBudgetaire?.libelle}}</td>
                            
                            
                        <td>{{element.montant}}</td>
                            
                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(element)"  *ngIf="editActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"  *ngIf="deleteActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"  *ngIf="duplicateActionIsValid"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'budget compte budgetaire' : 'budget compte budgetaires' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-budget-compte-budgetaire-create-admin  *ngIf="createDialog  && createActionIsValid"></app-budget-compte-budgetaire-create-admin>
        <app-budget-compte-budgetaire-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-budget-compte-budgetaire-edit-admin>
        <app-budget-compte-budgetaire-view-admin  *ngIf="viewDialog  && viewActionIsValid"></app-budget-compte-budgetaire-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>
