
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'budgetEntiteAdmin.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'budgetEntiteAdmin.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'budgetEntiteAdmin.entiteAdmin' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'budgetEntiteAdmin.entiteAdmin' | translate}}" autofocus  id="1" [ngModel]="item.entiteAdmin?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'budgetEntiteAdmin.montantEntite' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="2" [disabled]="true" placeholder="{{'budgetEntiteAdmin.montantEntite' | translate}}" [ngModel]="item.montantEntite"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'budgetEntiteAdmin.montantInvEntite' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="3" [disabled]="true" placeholder="{{'budgetEntiteAdmin.montantInvEntite' | translate}}" [ngModel]="item.montantInvEntite"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'budgetEntiteAdmin.montantFctEntite' | translate}}</label>
                        <p-inputNumber class="mb-2 mr-2" id="4" [disabled]="true" placeholder="{{'budgetEntiteAdmin.montantFctEntite' | translate}}" [ngModel]="item.montantFctEntite"></p-inputNumber>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'budgetEntiteAdmin.budget' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'budgetEntiteAdmin.budget' | translate}}" autofocus  id="5" [ngModel]="item.budget?.id">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



